body,
html {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 973.61px;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__element {
  text-align: center;
  flex-grow: 1;
}
.navbar {
  align-items: center;
}
