body,
html {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 973.61px;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__element a {
  text-decoration: none;
  color: #828282;
}

.navbar__element {
  text-align: center;
  flex-grow: 1;
}

.navbar__element:last-child,
:first-child {
  flex-grow: unset;
}
.navbar__element:first-child {
  padding-right: 6%;
}
.navbar__element:last-child {
  padding-left: 6%;
}
.navbar {
  align-items: center;
  font-family: "Gilroy-Bold";
  margin-top: 32.99px;
  padding-bottom: 31.92px;
  font-size: 18px;
  line-height: 22px;
}

hr {
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  max-width: 95%;
  opacity: 0.5;
  margin-bottom: 39.69px;
}

.active {
  color: #070707;
}

.description {
  display: flex;
  align-items: center;
  position: relative;
}

.description__name {
  padding: 0;
  margin: 0;
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  flex-grow: 1;
}

.description__whoami {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  flex-grow: 1;
  align-self: flex-end;
}

.description__lang {
  margin-left: auto;
  padding-top: 8%;
  padding-right: 3.5%;
  position: sticky;
  display: flex;
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  /* flex-grow: 0.01; */
  transform: rotate(-90deg);
}

.description__lang a {
  color: #828282;
  text-decoration: none;
}

.description__lang p {
  margin: 0;
  padding: 0;
}
